<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Sentiment Analyzer</title>
  </head>
  <body>
    <div class="container">
      <header class="header">
        <h1 class="title">Sentiment Analyzer</h1>
      </header>
      <main class="main">
        <section class="form-container">
          <h2 class="slogan">Discover the Emotions Behind the Words</h2>
          <form class="form" onsubmit="return Client.handleSubmit(event)">
            <input
              class="input"
              type="text"
              name="input"
              value=""
              placeholder="Enter URL to blogs or articles"
            />
            <input
              class="submit"
              type="submit"
              value="Analyze"
              onclick="return Client.handleSubmit(event)"
              onsubmit="return Client.handleSubmit(event)"
            />
          </form>
        </section>
        <section class="results-section"></section>
      </main>
      <footer class="footer">
        <span>Made with</span>
        <svg
          class="heart-icon"
          xmlns="http://www.w3.org/2000/svg"
          height="1em"
          viewBox="0 0 512 512"
        >
          <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
          <path
            d="M47.6 300.4L228.3 469.1c7.5 7 17.4 10.9 27.7 10.9s20.2-3.9 27.7-10.9L464.4 300.4c30.4-28.3 47.6-68 47.6-109.5v-5.8c0-69.9-50.5-129.5-119.4-141C347 36.5 300.6 51.4 268 84L256 96 244 84c-32.6-32.6-79-47.5-124.6-39.9C50.5 55.6 0 115.2 0 185.1v5.8c0 41.5 17.2 81.2 47.6 109.5z"
          />
        </svg>
        <span>by </span
        ><a
          href="https://github.com/developmentpark"
          rel="noopener"
          target="_blank"
          >developmentpark</a
        >
      </footer>
    </div>
  </body>
</html>
