@import "base";

.footer {
  height: max-content;
  color: $gray-color-5;
  text-align: center;
  padding: 3rem;
  font-size: 12px;
  margin-top: 2rem;

  .heart-icon {
    fill: rgb(245, 45, 45);
    position: relative;
    top: 2px;
  }
}
