@import "base";

.form-container {
  width: 100%;
  max-width: 700px;
  padding-top: 7rem;

  .slogan {
    font-size: 32px;
    color: $white-color;
    text-shadow: $text-shadow;
    text-align: center;
    padding-bottom: 4rem;
  }
}

.form {
  background-color: rgba($white-color, 0.4);
  box-shadow: $box-shadow;
  height: fit-content;
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  border-radius: 10px;

  .input {
    flex: 1;
    height: 36px;
    border-radius: 10px 0 0 10px;
    padding: 0.5rem;
    font-size: 16px;
    font-style: italic;
    border: solid 1px $gray-color-5;
    outline: none;
  }

  .submit {
    @include button($border-radius: 0 10px 10px 0);
  }
}

.dark-theme {
  .form {
    background-color: rgba($gray-color-1, 0.4);
    .input {
      background-color: $gray-color-1;
      border-color: $gray-color-2;
      color: $white-color;
    }
    .submit {
      background-color: $primary-color-2;
      &:hover {
        background-color: $primary-color;
      }
    }
  }
}
