@import "base";

@mixin highlight($color: $neutral-polarity-color) {
  background-color: $color;
  padding: 0.1rem 0.2rem;
}

.highlight_strong-positive {
  @include highlight($strong-positive-polarity-color);
}

.highlight_positive {
  @include highlight($positive-polarity-color);
}

.highlight_neutral {
  @include highlight($neutral-polarity-color);
}

.highlight_negative {
  @include highlight($negative-polarity-color);
}

.highlight_strong-negative {
  @include highlight($strong-negative-polarity-color);
}

.results-section {
  width: 100%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .attributes-panel {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  .text-panel {
    display: flex;
    gap: 1rem;
  }
}

.text-panel__text {
  line-height: 28px;
  background-color: rgba($white-color, 0.4);
  box-shadow: $box-shadow;
  padding: 1.5rem;
  border-radius: 10px;
  font-size: 16px;
  line-height: 28px;
  color: $gray-color-1;
  user-select: text;
}

.text-panel__tags {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: fit-content;

  %tag {
    width: max-content;
    padding: 0.5rem;
    border-radius: 6px;
    font-size: 12px;
    font-weight: 600;
  }

  @mixin tag-colorized($color: $neutral) {
    background-color: rgb($color, 0.25);
    color: $color;
  }

  .tag_strong-positive {
    @extend %tag;
    @include tag-colorized($color: $strong-positive-polarity-color);
  }

  .tag_positive {
    @extend %tag;
    @include tag-colorized($color: $positive-polarity-color);
  }

  .tag_neutral {
    @extend %tag;
    @include tag-colorized($color: $neutral-polarity-color);
  }

  .tag_negative {
    @extend %tag;
    @include tag-colorized($color: $negative-polarity-color);
  }

  .tag_strong-negative {
    @extend %tag;
    @include tag-colorized($color: $strong-negative-polarity-color);
  }
}

%attribute {
  width: fit-content;
  border-radius: 5px;
}

.attribute_small {
  @extend %attribute;
  font-size: 14px;
  padding: 0.5rem;
}

.attribute_big {
  @extend %attribute;
  display: flex;
  align-items: center;

  .title {
    font-size: 14px;
    padding: 0.5rem;
    border-radius: 5px 0 0 5px;
  }

  .value {
    font-size: 14px;
    background-color: rgba($white-color, 0.8);
    color: $gray-color-1;
    font-weight: 900;
    padding: 0.5rem;
    border-radius: 0 5px 5px 0;
  }
}

.attribute_strong-positive {
  background-color: rgba($strong-positive-polarity-color, 0.8);
  color: $gray-color-1;
}

.attribute_positive {
  background-color: rgba($positive-polarity-color, 0.8);
  color: $gray-color-1;
}

.attribute_neutral {
  background-color: rgba($neutral-polarity-color, 0.8);
}

.attribute_negative {
  background-color: rgba($negative-polarity-color, 0.9);
}

.attribute_strong-negative {
  background-color: rgba($strong-negative-polarity-color, 0.9);
}

.attribute_none {
  background-color: rgba($none-polarity-color, 1);
}
