@import "base";

@mixin highlight($color: $neutral-polarity-color) {
  background-color: rgba($color, 0.6);
  padding: 0.1rem 0.2rem;
}

.highlight_strong-positive {
  @include highlight($strong-positive-polarity-color);
}

.highlight_positive {
  @include highlight($positive-polarity-color);
}

.highlight_neutral {
  @include highlight($neutral-polarity-color);
}

.highlight_negative {
  @include highlight($negative-polarity-color);
}

.highlight_strong-negative {
  @include highlight($strong-negative-polarity-color);
}

.results-section {
  width: 100%;
  max-width: 700px;
  display: flex;
  gap: 1rem;

  %results__box {
    background-color: rgba($white-color, 0.4);
    box-shadow: $box-shadow;
    border-radius: 10px;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
  }

  .attributes-panel {
    @extend %results__box;
    gap: 0.2rem;
  }

  .text-panel {
    @extend %results__box;
    font-size: 16px;
    line-height: 24px;
    color: $gray-color-1;
    justify-content: space-between;
    gap: 1rem;
  }
}

.text-panel__tags {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;

  %tag {
    width: max-content;
    padding: 0.1rem 0.5rem;
    border-radius: 6px;
    font-size: 12px;
    font-weight: 600;
  }

  @mixin tag-colorized($color: $neutral) {
    background-color: rgb($color, 0.25);
    color: $color;
  }

  .tag_strong-positive {
    @extend %tag;
    @include tag-colorized($color: $strong-positive-polarity-color);
  }

  .tag_positive {
    @extend %tag;
    @include tag-colorized($color: $positive-polarity-color);
  }

  .tag_neutral {
    @extend %tag;
    @include tag-colorized($color: $neutral-polarity-color);
  }

  .tag_negative {
    @extend %tag;
    @include tag-colorized($color: $negative-polarity-color);
  }

  .tag_strong-negative {
    @extend %tag;
    @include tag-colorized($color: $strong-negative-polarity-color);
  }
}

%attribute {
  width: fit-content;
  border-radius: 5px;
  padding: 0.5rem;

  .title {
    font-size: 12px;
  }

  .value {
    font-size: 2rem;
  }
}

.attribute_small {
  @extend %attribute;
  background-color: #405ec2;
  font-size: 14px;
}

.attribute_big {
  @extend %attribute;
  background-color: #c840d4;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
}
